<!doctype html>

<html>
<head>
	<title>Browse Clubs</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet"> 
</head>

<body>	
	<div class="container">
		<center>
		<div class="jumbotron">
			<h1>ClubFinder</h1>
			<p>Find the club for you</p>
		</div>
		</center>
		<center>
			<ol>
				{{#each Clubs}}
					<li>
						<div class="club">
							<h3>{{name}}</h3>
							<p>{{description}}</p>
							<hr>
						</div>
					</li>

				{{/each}}
			</ol>
		</center>

		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/js/bootstrap.min.js"></script>
	</div>
</body>
</html>