<!doctype html>

<html>
<head>
	<title>Browse Clubs</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/common.css" rel="stylesheet">
</head>

<body>	
	<div class="container">
		<div class="topcorner">
		<button class="button">
	      	<span>
	      		<a href="/">Home</a>
	      	</span>
	    </button>
		</div>

		<div>
			<h2>Browse Our Clubs</h2>
		</div>	

		{{#each Clubs}}
			<div class="club">
				<h3><a href="{{url}}">{{name}}</a></h3>
				<p>{{description}}</p>
				<hr>
			</div>
		{{/each}}
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>