<!doctype html>

<html>
<head>
	<title>Browse Clubs</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/common.css" rel="stylesheet">
	<link rel="shortcut icon" type="image/x-icon" href="/images/icon.png" />
</head>

<body>	
	<div class="navbar" id="navbar">

	</div>

	<div class="container">
		<div>
			<h2>Browse Our Clubs</h2>
		</div>	

		{{#each Clubs}}
			<div class="club">
				<h3>{{name}}</h3>
				<p>{{description}}</p>
				<input type="button" class="button" onclick="window.open('{{url}}','_blank');;" value="Learn More" />
				<hr>
			</div>
		{{/each}}
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/navbar_manager.js"></script>
</body>
</html>