<!doctype html>

<html>
<head>
	<title>HCI Project Portfolio</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet"> 
	<link href="/css/common.css" rel="stylesheet">
</head>

<body>	
	<div class="navbar">
		<ul>
			<li><a href="/login">Login</a></li>
			<li><a class="active" href="/">Home</a></li>
			
		</ul>
	</div>

	<div class="container">
		<div>
			<h1>Create Profile</h1>
		</div>
		<form id="addUserForm" role="form" method="get" action="/successful_profile"
			<div class="form-group"> 
				<label for="name">User Name:</label>
				<input type="text" class="form-control" id="name" placeholder="User Name" name="name">
				<br>
				<label for="email">User Email:</label>
				<input type="text" class="form-control" id="email" placeholder="User Email" name="email">	
				<br>
				<label for="password">Password:</label>
				<input type="password" class="form-control" id="password" placeholder="Password" name="password">
				<br>
				<label for="confirm_password">Confirm Password:</label>
				<input type="password" class="form-control" id="confirm_password" placeholder="Confirm Password" name="confirm_password">
			</div>

			<button class="button">
		      	<span>
		      		<a href="/">Submit</a>
		      	</span>
		    </button>
	    </form>

	</div>


	<script src="/js/bootstrap.min.js"></script>
	<script src="https://code.jquery.com/jquery.js"></script>
</body>
</html>