<!doctype html>

<html>
<head>
	<title>HCI Project Portfolio</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet"> 
</head>

<body>	
	<div class="container">
		<center>
		<div class="jumbotron">
			<h1>Calendar</h1>
			<p>Events and stuff:</p>
		</div>
		<div class="calendar" id="calendar1">
			<TABLE BORDER=3 CELLSPACING=3 CELLPADDING=3> 
				<TR>
				<TD COLSPAN="7" ALIGN=center><I>Events Calendar</I></TD> 
				</TR>
				<TR> 
				<TD COLSPAN="7" ALIGN=center><B>February 2016</B></TD>
				</TR>
				<TR> 
				<TD width="100" height="100" ALIGN=center>Sun</TD>
				<TD width="100" height="100" ALIGN=center>Mon</TD>
				<TD width="100" height="100" ALIGN=center>Tue</TD>
				<TD width="100" height="100" ALIGN=center>Wed</TD>
				<TD width="100" height="100" ALIGN=center>Thu</TD>
				<TD width="100" height="100" ALIGN=center>Fri</TD>
				<TD width="100" height="100" ALIGN=center>Sat</TD>
				</TR>
				<TR> 
				<TD width="100" height="100" ALIGN=center></TD>
				<TD width="100" height="100" ALIGN=center>1</TD>
				<TD width="100" height="100" ALIGN=center>2</TD>
				<TD width="100" height="100" ALIGN=center>3</TD>
				<TD width="100" height="100" ALIGN=center>4</TD>
				<TD width="100" height="100" ALIGN=center>5</TD>
				<TD width="100" height="100" ALIGN=center>6</TD>
				</TR>
				<TR> 
				<TD width="100" height="100" ALIGN=center>7</TD>
				<TD width="100" height="100" ALIGN=center>8</TD>
				<TD width="100" height="100" ALIGN=center>9</TD>
				<TD width="100" height="100" ALIGN=center>10</TD>
				<TD width="100" height="100" ALIGN=center>11</TD>
				<TD width="100" height="100" ALIGN=center>12</TD>
				<TD width="100" height="100" ALIGN=center>13</TD>
				</TR>
				<TR> 
				<TD width="100" height="100" ALIGN=center>14</TD>
				<TD width="100" height="100" ALIGN=center>15</TD>
				<TD width="100" height="100" ALIGN=center>16</TD>
				<TD width="100" height="100" ALIGN=center>17</TD>
				<TD width="100" height="100" ALIGN=center>18</TD>
				<TD width="100" height="100" ALIGN=center>19</TD>
				<TD width="100" height="100" ALIGN=center>20</TD>
				</TR>
				<TR> 
				<TD width="100" height="100" ALIGN=center>21</TD>
				<TD width="100" height="100" ALIGN=center>22</TD>
				<TD width="100" height="100" ALIGN=center>23</TD>
				<TD width="100" height="100" ALIGN=center>24</TD>
				<TD width="100" height="100" ALIGN=center>25</TD>
				<TD width="100" height="100" ALIGN=center>26</TD>
				<TD width="100" height="100" ALIGN=center>27</TD>
				</TR>
				<TR> 
				<TD width="100" height="100" ALIGN=center>28</TD>
				<TD width="100" height="100" ALIGN=center>29</TD>
				<TD width="100" height="100" ALIGN=center>25</TD>
				<TD width="100" height="100" ALIGN=center>26</TD>
				<TD width="100" height="100" ALIGN=center>27</TD>
				<TD width="100" height="100" ALIGN=center>28</TD>
				<TD width="100" height="100" ALIGN=center>29</TD>
				</TR>
				<TR> 
				<TD width="100" height="100" ALIGN=center></TD>
				<TD width="100" height="100" ALIGN=center></TD>
				<TD width="100" height="100" ALIGN=center></TD>
				<TD width="100" height="100" ALIGN=center></TD>
				<TD width="100" height="100" ALIGN=center></TD>
				<TD width="100" height="100" ALIGN=center></TD>
				<TD width="100" height="100" ALIGN=center></TD>
				</TR>
			</TABLE>
		</div>
		<div class="button" id="create_event">
			<button class="button">
	      		<span>
	      			<a href="{{id}}">Create Event</a>
	      		</span>
	      	</button>
		</div>
		</center>
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>