<!doctype html>

<html>
<head>
	<title>Find a Club</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/common.css" rel="stylesheet">
	<link href="/css/find_clubs.css" rel="stylesheet">
	<link rel="shortcut icon" type="image/x-icon" href="/images/icon.png" />
</head>

<body>	

	<div class="navbar" id="navbar">

	</div>
	<div class="container">
		
		<div>
			<h1>Club Quiz</h1>
		</div>	

		<h2>What Are You Interested In?</h2>
		<hr>
		{{#each Tags}}
			<div>
				<label><input class="interest_box" type="checkbox" value="{{name}}" id="{{name}}">{{name}}</label><br>
				<hr>
			</div>
		{{/each}}

		<input type="button" class="button" value="Submit" id="submit"/>
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/add_tags_to_user.js"></script>
<!-- 	<script src="/js/navbar_manager.js"></script> -->
</body>
</html>