<!doctype html>

<html>
<head>
	<title>HCI Project Portfolio</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/common.css" rel="stylesheet">
</head>

<body>	

	<div class="navbar">
		<ul>
			<li><a href="/login">Login</a></li>
			<li><a href="/create_profile">Create Profile</a></li>
			<li><a class="active" href="/">Home</a></li>
			
		</ul>
	</div>
	<div class="container">
		
		<div>
			<h1>Club Quiz</h1>
		</div>	

		<h2>What Are You Interested In?</h2>
		<hr>
		{{#each Interests}}
			<div class="interest">
				<label><input type="checkbox" name="interest"> {{name}}</label><br>
				<hr>
			</div>
		{{/each}}

		<button class="button">
	      	<span>
	      		<a href="/browse_clubs">Submit</a>
	      	</span>
	    </button>

	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>