<!doctype html>

<html>
<head>
	<title>HCI Project Portfolio</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/common.css" rel="stylesheet">
</head>

<body>	
	<div class="topcorner">
		<button class="button">
	      	<span>
	      		<a href="/">Home</a>
	      	</span>
	    </button>
	</div>

	<div class="container">
		<div>
			<h1>Find The Club For You</h1>
		</div>	

		<h2>What Are You Interested In?</h2>
		<hr>
		{{#each Interests}}
			<div class="interest">
				<input type="checkbox" name="interest"> {{name}}<br>
				<hr>
			</div>
		{{/each}}

		<button class="button">
	      	<span>
	      		<a href="/browse_clubs">Submit</a>
	      	</span>
	    </button>

		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/js/bootstrap.min.js"></script>
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>