<!doctype html>

<html>
<head>
	<title>Club Book</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/common.css" rel="stylesheet">
	<link rel="shortcut icon" type="image/x-icon" href="/images/icon.png" />
</head>

<body>
	<div class="navbar" id="navbar">

	</div>
	<div class="container">
		<center>
		<div>
			<h1>Club Book</h1>
			<p>Find the club for you</p>
		</div>
		</center>
		<center>
			<ol>
	      		<ul>
	      			<input type="button" class="button" value='Find Clubs For You' id='find_clubs' />
	      		</ul>
	      		<ul>
	      			<input type="button" class="button" onclick="location.href='/browse_clubs';" value='Browse Clubs' id='browse_clubs' />
				</ul>
	      		<ul>
	      			<input type="button" class="button" onclick="location.href='/register';" value='Register Your Club' id='register' />
	      		</ul>
	    	</ol>
	    </center>
	</div>


	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/homepage_events.js"></script>
		<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-74684238-1', 'auto');
	  ga('send', 'pageview');

	</script>
<!-- 	<script src="/js/navbar_manager.js"></script> -->
</body>
</html>
