<!doctype html>

<html>
<head>
	<title>Club Book</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/common.css" rel="stylesheet">
</head>

<body>
	<div class="navbar">
		<ul>
			<li><a href="/login">Login</a></li>
			<li><a href="/create_profile">Create Profile</a></li>
			
		</ul>
	</div>
	<div class="container">
		<center>
		<div>
			<h1>ClubFinder</h1>
			<p>Find the club for you</p>
		</div>
		</center>
		<center>
			<ol>
	    	{{#each homepage_options}}
	      		<ul>
	      			<input type="button" class="button" onclick="location.href='{{id}}';" value='{{name}}' />
	      		</ul>
	    	{{/each}}
	    	</ol>
	    </center>

	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>
