<!doctype html>

<html>
<head>
	<title>Login</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet"> 
	<link href="/css/common.css" rel="stylesheet">
	<link href="/css/login.css" rel="stylesheet">
	<link rel="shortcut icon" type="image/x-icon" href="/images/icon.png" />		
</head>

<body>	
	<div class="navbar" id="navbar">

	</div>

	<div class="container">
		<div>
			<h1>Login</h1>
		</div>

		<div>
			<p id="alert_box"></p>
		</div>

		<div class="login_group">
			<label for="user_email">User Email:</label>
			<input type="text" class="form-control" id="email" placeholder="User Email" name="email">	
			<br>
			<label for="password">Password:</label>
			<input type="password" class="form-control" id="password" placeholder="Password" name="password">

			<input type="button" class="button" value="Submit" id="submit" />

		</div>
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/login_validation.js"></script>
<!-- 	<script src="/js/navbar_manager.js"></script> -->
</body>
</html>