<!doctype html>

<html>
<head>
	<title>Register Club</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/common.css" rel="stylesheet">
	<link href="/css/register.css" rel="stylesheet" type="text/css">
	<link rel="shortcut icon" type="image/x-icon" href="/images/icon.png" />
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script src="/js/register.js"></script>
	<meta charset=utf-8 />
</head>

<body>	
	<div class="navbar" id="navbar">

	</div>
	<div class="container">
		<div>
			<h1>Logout Successful</h1>
		</div>		
	</div>


	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/logout.js"></script>

</body>
</html>