<!doctype html>

<html>
<head>
	<title>Register Club</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/common.css" rel="stylesheet">
	<link href="/css/register.css" rel="stylesheet" type="text/css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script src="/js/register.js"></script>
	<meta charset=utf-8 />
</head>

<body>	
	<div class="navbar">
		<ul>
			<li><a href="/login">Login</a></li>
			<li><a href="/create_profile">Create Profile</a></li>
			<li><a class="active" href="/">Home</a></li>
		</ul>
	</div>
	<div class="container">
		<div>
			<h1>Club Registration</h1>
		</div>		
		<div id="body1">	
			<form id="addClubForm" role="form" method="get" action="/successful_club_add">
				<div class="form-group">
					<br>
					<label for="name"> Enter Club Name! </label>
					<input type="text" class="form-control" id="name" placeholder="Club Name" name="name">	
				</div>
		<!-- 		<br> -->
				<div class="form-group">
					<label for="description"> Describe Your Club! </label>
					<input type="text" name="description" id="description" class="form-control" placeholder="Club Description"></input>
				</div>
				<div class="form-group">
		<!-- 			<br> -->
					<label for="url"> Add a Link to Your Homepage! </label>
					<input type="text" class="form-control" id="url" placeholder="Homepage URL" name="url">	
				</div>
				<br>
				
				<h3>Club Search Tags:</h3>
				<br>
				{{#each Tags}}
					<div class="interest">
							<label><input type="checkbox" name="interest"> {{name}}</label><br>
						<hr>
					</div>
				{{/each}}
				<div class="form-group" id="tags">
    				<input type="text" class="form-control" name="tag" placeholder="Add a tag" />
  				</div>
				<input type="submit" class="button" value="Register"/>
				<br>
				<br>

			</form>
			
		</div>
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>