<!doctype html>

<html>
<head>
	<title>HCI Project Portfolio</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/common.css" rel="stylesheet">
	<link href="/css/register.css" rel="stylesheet" type="text/css">
</head>

<body>	
	<div class="navbar">
		<ul>
			<li><a href="/login">Login</a></li>
			<li><a href="/create_profile">Create Profile</a></li>
			<li><a class="active" href="/">Home</a></li>
		</ul>
	</div>
	<div class="container">
		<div>
			<h1>Club Registration</h1>
		</div>		
	</div>
	<div id="body1">
		<center>
		<div>
		<form>
			<fieldset>
			<legend><font size ="5" color="3366ff">Registration Form:</font></legend>
				Club Name:<br><input type="text" name="clubname"></br>
			</fieldset>
		</form>
		</div>
		<legend></legend>
		<div>
			<textarea name="description" rows="15" cols="30">A description of what your club does:</textarea>
		</div>
		<div>
		<legend><font size ="5" color="3366ff">Club Search Tags:</font></legend>
			<SELECT NAME="Club Tags" MULTIPLE SIZE=5>
				<option value="science">Science</option>
				<option value ="games">Games</option>
				<option value ="coding">Coding</option>
				<option value ="sports">Sports</option>
				<option value ="volunteering">Volunteering</option>
			</select>
		</div>
		<legend></legend>
		<input type="button" class="button" onclick="location.href='/'" value="Register your club"/>

		</center>
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>