<!doctype html>

<html>
<head>
	<title>Search Results</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/common.css" rel="stylesheet">
</head>

<body>	
	<div class="navbar">
		<ul>
			<li><a href="/login">Login</a></li>
			<li><a href="/create_profile">Create Profile</a></li>
			<li><a class="active" href="/">Home</a></li>
		</ul>
	</div>

	<div class="container">
		<div>
			<h2>Clubs you might like</h2>
		</div>	

		<div id="result_list">
			
		</div>
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="js/display_search_results.js"></script>
</body>
</html>
