<!doctype html>

<html>
<head>
	<title>Profile Creation</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet"> 
	<link href="/css/common.css" rel="stylesheet">
</head>

<body>	
	<div class="navbar">
		<ul>
			<li><a href="/login">Login</a></li>
			<li><a class="active" href="/">Home</a></li>
			
		</ul>
	</div>

	<div class="container">
		<div>
			<h1>Successfully Created Your Profile</h1>
		</div>

		<input type="button" class="button" onclick="location.href='/login';" value='Login' />

	</div>


	<script src="/js/bootstrap.min.js"></script>
	<script src="https://code.jquery.com/jquery.js"></script>
</body>
</html>