/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */	
	color: #CC00AA;
}

.jumbotron {
	position: relative;
	background: none;
}

.jumbotron:after {
     content:"";
     /*background: url("../images/Geisel.jpg");*/
     /* background-color: white; */
     opacity: 0.2;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: relative;
     z-index: 0;	
}

.jumbotron h1 {
  color: #FFFFFF;

}

.jumbotron p {
     color: #FFFFFF;
     text-align: center;
}

.project a {
     text-align: center;
}

.button_list{
  text-align: center;
}

ol{
  padding-left: 0px;
}

ul {
  padding-left: 0px;
}
/*
.button {
  border-radius: 4px;
  background-color: Lightblue;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width:  280px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
*/
body{
    position: relative;
    width: 100%;
    height:100%;
    display: block;
    background: white;/* background color of app*/
    background-image: url("../images/Homepage.jpg");
    background-size: 100% 100%;
}

.button{
  margin:5px 0;
  font-size:20px;
  color:#000000; /* center font color*/
  text-align: center;
  -moz-border-radius: 12px; /* FF1+ */
  -webkit-border-radius: 12px; /* Saf3-4 */
    border-radius: 12px; /* Opera 10.5, IE 9, Saf5, Chrome */ 
    height: 70px; /* height for all three buttons on front page*/
    width: 280px;
  background: white;/*default background color for buttons*/
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  /* content: '»'; */
  position: absolute;
  opacity: 0.5;
  top: 0;
  right: -20px;
  transition: 0.5s;
} 

.button:hover span {
 /*  padding-right: 25px; */
 /* background-color: red;*/
}

.button:hover span:after {
  opacity: 1;
  background-color: Red;
  right: 0;
}